body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: center;
  background-color: rgb(230, 230, 230);
}

.carousel {
  min-height: 20vh;
}

h2{
  color: rgb(66, 66, 105);
}

h3{
  color: #e95420;
}

h4{
  color: #808096;
}


#logo {
  height: 50px;
  margin-left: -10px;
}


#spacer {
  flex-grow: 1;
}

footer {
  background-color: #ee5f00;
  color: #d8d8d8;
}
