body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: center;
  background-color: rgb(230, 230, 230);
}

.carousel {
  min-height: 20vh;
}

h2{
  color: rgb(66, 66, 105);
}

h3{
  color: #e95420;
}

.eventScreen-EventName {
  color: #e95420;
  font-weight: bold;
}

h4{
  color: #808096;
}


#logo {
  height: 50px;
  margin-left: -10px;
}


#spacer {
  flex-grow: 1;
}

footer {
  background-color: #e95420;
  color: white;
}

.carousel-container {
  margin: 20px;
}

.card-height {
  min-height: 410px;
  position: relative;
  /* flex: 0 0 auto;
  display: flex;
  flex-direction: column; */

}

.event-cardBadge {
  position: absolute;
  top: 3px;
  left: 3px;
  background-color: #e95420;
  color: white;
  padding: 3px 3px;
  border-radius: 8px;
  font-weight: bold;

}

.badge {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 13px;
    background: rgb(52, 163, 200);
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}


.profileText {
  color: rgb(145, 75, 52);
}
